/2.ipynb
/2.png
/3.ipynb
/3.png
/4.ipynb
/5.ipynb
/5.png
/Untitled-1.ipynb
/Untitled-2.ipynb
/Untitled-3.ipynb
/cardiac.ipynb
/d.ipynb
/output.png
/statspaper.docx
/time.ipynb
/weather.ipynb
/weather_revised.csv
/wefinal.ipynb